<div>
  <div class="wrap">
    <div class="container mt20">
      <div class="big-intro">
        <h1 class="h3">解决方案</h1>
       </div>
      <div class="row">
        <div class="col-md-4">
          <ul class="list-unstyled text-link">
            <li><strong><a target="_blank" href="http://www.oschina.net/">开源中国</a></strong>：国内最大的开源技术社区</li>
            <li><strong><a target="_blank" href="http://www.infoq.com/cn/">InfoQ</a></strong>：促进软件开发领域知识与创新的传播</li>
            <li><strong><a target="_blank" href="http://ruby-china.org/">Ruby China</a></strong>：致力于构建完善的 Ruby 中文社区</li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list-unstyled text-link">
            <li><strong><a target="_blank" href="http://pychina.org/about.html">PyChina</a></strong>：python中文开发者社区</li>
            <li><strong><a target="_blank" href="http://www.cocoachina.com/">CocoaChina</a></strong>：国内最大的苹果中文开发者社区</li>
            <li><strong><a target="_blank" href="http://kaiyuanshe.cn">开源社</a></strong>：国内知名开源联盟</li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list-unstyled text-link">
            <li><strong><a target="_blank" href="http://www.html-js.com/">前端乱炖</a></strong>：最专业的前端技术内容社区</li>
            <li><strong><a target="_blank" href="http://www.bootcss.com/">Bootstrap 中文网</a></strong>：Bootstrap 前端技术专业站</li>
            <li><strong><a target="_blank" href="http://www.codeforge.cn/">CodeForge</a></strong>：代码创造未来</li>
          </ul>
        </div>
      </div>
      <h2 class="h4 mt30 mb20">友情链接</h2>
      <div class="row">
        <div class="col-md-4">
          <ul class="list-unstyled text-link">
            <li><strong><a target="_blank" href="http://www.nowcoder.com/">牛客网</a></strong>：专业IT笔试面试平台</li>
            <li><strong><a target="_blank" href="http://www.lagou.com/">拉勾招聘</a></strong>：最专业的互联网招聘平台</li>
            <li><strong><a target="_blank" href="http://www.duoshuo.com/">多说</a></strong>：社会化评论系统</li>
            <li><strong><a target="_blank" href="http://www.ucai.cn/">优才网</a></strong>：在线实战云编程学习平台</li>
            <li><strong><a target="_blank" href="http://www.huodongxing.com">活动行</a></strong>：国内最好的活动报名及售票平台</li>
            <li><strong><a target="_blank" href="http://www.detuyun.com/">得图云</a></strong>：移动开发者服务平台</li>
            <li><strong><a target="_blank" href="http://www.sendcloud.net/">SendCloud</a></strong>：专业的触发邮件发送平台</li>
            <li><strong><a target="_blank" href="http://www.yuntongxun.com/">容联云通讯</a></strong>：为开发者提供各种通讯能力</li>
            <li><strong><a target="_blank" href="http://www.51idc.com/">51IDC</a></strong>：懂云更懂服务</li>
            <li><strong><a target="_blank" href="http://safedog.cn/">安全狗</a></strong>：领先的云安全与解决方案提供商</li>
            <li><strong><a target="_blank" href="http://www.ijiami.cn/">爱加密</a></strong>：手机安全软件以及手机开发者基础服务</li>
            <li><strong><a target="_blank" href="https://www.cdnzz.com/">速致云</a></strong>：跨国云计算服务提供商</li>
            <li><strong><a target="_blank" href="http://www.im2maker.com/">镁客网</a></strong>：智能硬件资讯分享平台</li>
            <li><strong><a target="_blank" href="http://www.proginn.com/">程序员客栈</a></strong>：程序员的经纪人</li>
            <li><strong><a target="_blank" href="https://boxueio.com/">泊学</a></strong>：iOS 全栈开发高清视频学习</li>
            <li><strong><a target="_blank" href="https://www.bugtags.com/">Bugtags</a></strong>：移动时代首选 Bug 管理系统</li>
            <li><strong><a target="_blank" href="https://www.sdk.cn">SDK.cn</a></strong>：开发者服务平台</li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list-unstyled text-link">
            <li><strong><a target="_blank" href="http://www.yuantuan.com/">猿团</a></strong>：创业者的技术合伙人</li>
            <li><strong><a target="_blank" href="http://www.leangoo.com">Leangoo</a></strong>：最敏捷的项目协作工具</li>
            <li><strong><a target="_blank" href="http://www.lecloud.com/">乐视云</a></strong>：打造垂直整合的生态即服务云模式</li>
            <li><strong><a target="_blank" href="http://www.wqdian.com">微企点</a></strong>：免费好用的 H5 自助建站平台</li>
            <li><strong><a target="_blank" href="http://www.nagain.com/">娜迦信息</a></strong>：专注移动应用安全解决方案与开发者服务</li>
            <li><strong><a target="_blank" href="http://www.scrumcn.com/">scrum中文网</a></strong>：中国最早的scrum和敏捷推广机构</li>
            <li><strong><a target="_blank" href="http://justalkcloud.com/">JusTalk Cloud</a></strong>：全球领先的移动音视频 通讯云平台</li>
            <li><strong><a target="_blank" href="http://www.tuling123.com">图灵机器人</a></strong>：中文语境下智能度最高的机器人大脑</li>
            <li><strong><a target="_blank" href="https://www.uyun.cn">优云运维</a></strong>：全栈双态运维实践者，企业级运维专家</li>
            <li><strong><a target="_blank" href="http://www.oxcoder.com/developer.html">猿圈</a></strong>：你在这里练习coding · 企业在这里给你offer</li>
            <li><strong><a target="_blank" href="https://www.oschina.net">开源中国</a></strong>：国内的开源技术社区</li>
            <li><strong><a target="_blank" href="https://git.oschina.net/">码云</a></strong>：国内最大、最活跃的源代码托管平台</li>
            <li><strong><a target="_blank" href="https://www.qupaicloud.com/">趣拍云</a></strong>：卓越的移动视频产品开发平台</li>
            <li><strong><a target="_blank" href="http://www.apicloud.com/">APICloud</a></strong>：重新定义移动应用开发</li>
            <li><strong><a target="_blank" href="https://mqc.aliyun.com/?from=sf_friendLink">阿里云测</a></strong>：国内领先的真机移动测试云平台</li>
            <li><strong><a target="_blank" href="http://www.bigsec.com/">岂安科技</a></strong>：互联网业务风控专家</li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list-unstyled text-link">
            <li><strong><a target="_blank" href="http://www.pmcaff.com">PMCAFF</a></strong>：中国最大产品经理社区</li>
            <li><strong><a target="_blank" href="http://www.thinkpage.cn">心知天气</a></strong>：为企业提供全球气象数据服务</li>
            <li><strong><a target="_blank" href="http://jspatch.com">JSPatch平台</a></strong>：iOS热更新服务平台</li>
            <li><strong><a target="_blank" href="https://www.testwo.com">测试窝</a></strong>：软件测试知识传播</li>
            <li><strong><a target="_blank" href="">阿拉丁小程序</a></strong>：国内首家微信小程序数据统计平台</li>
            <li><strong><a target="_blank" href="http://www.apkbus.com/">安卓巴士</a></strong>：全国最大的安卓程序员社区</li>
            <li><strong><a target="_blank" href="http://www.code4app.com/">code4app</a></strong>：中国最大的iOS源码库</li>
            <li><strong><a target="_blank" href="http://www.opendigg.com/">OpenDigg</a></strong>：挖掘优质开源项目库</li>
            <li><strong><a target="_blank" href="">bugclose</a></strong>：简单，够用的bug管理工具</li>
            <li><strong><a target="_blank" href="https://www.codecasts.com">CODECASTS</a></strong>：高质量的编程视频社区</li>
            <li><strong><a target="_blank" href="http://wetest.qq.com/?from=links_SF">WeTest腾讯质量开放平台</a></strong>：腾讯一站式移动测试云平台</li>
            <li><strong><a target="_blank" href="https://www.w3cschool.cn/">W3Cschool</a></strong>：最大的教程学习及技术文档查询平台</li>
            <li><strong><a target="_blank" href="https://www.w3cplus.com/">W3cplus</a></strong>：引领Web前端前沿</li>
            <li><strong><a target="_blank" href="https://www.yunpian.com/">云片</a></strong>：做更好的云通讯服务商</li>
            <li><strong><a target="_blank" href="https://www.jianguoyun.com/">坚果云</a></strong>：最便捷、安全的企业网盘</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
