<div class="sociaty-wrapper">
  <ul>
    <li>
      <div class="sociaty-wrapper-div">
        <img src="http://via.placeholder.com/350x150" alt="">
        <div> 香港理工大学清除“港独”标语 竟有部分学生抗议 </div>
      </div>
    </li>
    <li>
      <div class="sociaty-wrapper-div">
        <img src="http://via.placeholder.com/350x150" alt="">
        <div>泰利将转向风雨犹存 杜苏芮携疾风暴雨袭海南</div>
      </div>
    </li>
    <li>
      <div class="sociaty-wrapper-div">
        <img src="http://via.placeholder.com/350x150" alt="">
        <div>
          快讯!乐天确定将出售在华超市业务 此前大玩“障眼法”</div>
      </div>
    </li>
  </ul>
</div>
